<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row mt-5">
                        <div class="col-xs-12 col-md-12 d-flex justify-content-center">
                            <a asp-action="AdminBrand" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/external-wanicon-lineal-wanicon/200/000000/external-brand-business-model-canvas-wanicon-lineal-wanicon.png" alt="...">
                                </span> <br/>Бренд
                            </a>
                            <a asp-action="AdminCategory" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/200/000000/category.png" alt="...">
                                </span> <br/>Категория
                            </a>
                            <a asp-action="AdminProduct" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/external-wanicon-lineal-wanicon/200/000000/external-product-influencer-marketing-wanicon-lineal-wanicon.png" alt="...">
                                </span> <br/>Товар
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-12 d-flex justify-content-center">
                            <a asp-action="AdminStorewarehouse" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/200/000000/warehouse-1.png" alt="...">
                                </span> <br/>Склад
                            </a>
                            <a asp-action="AdminOrder" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/200/000000/track-order.png" alt="...">
                                </span> <br/>Заказы
                            </a>
                            <a asp-action="CategoryChart" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/200/000000/financial-dynamic-presentation.png" alt="...">
                                </span> <br/>Отчёт
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>