@model Olimp.ViewModels.Brand.BrandViewModel

<div class="content">
     <div class="row mt-5">
            <div class="col-lg-6">
                <img class="border shadow" src="@Model.Image" style="height: 500px;width: 500px;">
            </div>
            <div class="col-lg-6">
                <h4 class="card-title">@Model.ProductBrand</h4>
                <div class="mt-2">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
</div>